/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

:root {
  --primary-background-color: black;
  --primary-text-color: #fff;
  --primary-accent-color: #e59892;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family:'Courier New', Courier, monospace;
}

.hidden {
  display: none;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,
h2 {
  text-align: center;
}

input,
button {
  border-radius: 0;
  border: 1px solid black;
}

button {
  background-color: var(--primary-accent-color);
  cursor: pointer;
}

.btn-disabled {
  pointer-events: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

img{
  display: block;
  margin: 0 auto;
}

.form-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0;
  width: 75vw;

  margin-left: 50%;
  transform: translateX(-50%);
}

.form-flex > * {
  height: 3rem;
}

/******************************************
/* CAROUSEL
/*******************************************/

.carousel__container {
  /* background-color: red; */
  position: relative;
  margin-top: 2.5vh;

  width: 100%;
  min-height: 75vh;
}

.carousel__buttons {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.carousel__cards {
  /* background-color: teal; */
  position: absolute;

  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.apod_card {
  background-size: contain;
  background-repeat: no-repeat;

  height: 100%;
  width: 100vw;
}

.apod-media-container {
  position: relative;
  max-width: 90vw;
  aspect-ratio: 16/9;
  margin: 2rem auto;

  /* background-color: green; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.apod-media-container > iFrame {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
}

.apod-info {
  padding: 5vh 56vw;
}

@media (min-width: 100rem) {
  .apod-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .apod-card > * {
    flex-basis: 40%;
    justify-content: space-around;
  }
  .apod-media-container {
    width: 100%;
  }
  .apod-media-container > iFrame {
    height: 56.25%;
    width: 100%;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
